<!doctype html>
<html>
<head>
    {% if context.get('title') %}
        <title>{{ context['title'] }} - Flask Starter</title>
    {% else %}
        <title>Flask Starter</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
